.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  background-color: aquamarine;
  
}

.activeCard {
  color: red;
  background:black;
}

picture{
  display: inline-block;
  text-align: center;
  font-size: 2em;
  background-color: grey;
  width: 450px;
  height: 450px;
}

.pictureCard {
  background-image:url("https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/8a/84/3d/8a843d9f-4220-7436-fdd3-d3d1fb33b4d2/source/512x512bb.jpg");
  background-size: auto;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 100;
  background-color: lightpink;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: crimson;
  text-shadow: 2px 2px #0c0101;
}

center {
  background-size: 500px,100px;
  background-image: url("https://thumbs.dreamstime.com/b/gamepad-joystick-game-controller-seamless-pattern-devices-video-games-esports-gamer-white-background-hand-drawn-vector-148103896.jpg");
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.activeText {
  margin-left: 7em;
  display: inline-block;
  text-align: end;
  font-size: 40px;
  color:rgb(255, 255, 0);
  text-shadow: 2px 2px #0c0101;
  background-color: white;
  border: 2px solid orange;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
}